services:
  app-dev:
    build:
      context: .
      dockerfile: docker/Dockerfile.dev
    image: ai1-frontend:dev
    ports:
      - '5173:5173'
    volumes:
      - .:/app
      - /app/node_modules
    command: pnpm dev
